<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>El padre de las computadoras: Charles Babbage</h1>
        </section>
        <img class="img" src="img/babbage/babbage.jpg" alt="Charles Babbage" height="400px">
        <section>
            <h2>¿Quién es Charles Babbage?</h2>
            <article>
                <p>Charles fue un matemático e ingeniero británico, inventor de las máquinas calculadoras programables.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació en 1792, en Teignmouth, Londres.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Es considerado el padre de las computadoras (y de las impresoras).
                    Si bien muchas de sus invenciones no logró terminarlas, fue uno de los pioneros en conceptos que llevaron a lo que hoy conocemos como los programas, la memoria, el almacenamiento y los dispositivos de entrada y salida de las computadoras.
                    Fue un visionario, e ideo grandes proyectos como lo fue la máquina diferencial.</p>
            </article>
        </section>
        <section>
        <h2>Maquina diferencial</h2>
        <article>
            <p>Aunque había destacado en el área de la teoría de funciones y análisis algebraico, Charles Babbage se volcó en el intento por conseguir una máquina capaz de realizar con precisión tablas matemáticas. En 1833 completó su "máquina diferencial", capaz de calcular los logaritmos e imprimirlos de 1 a 108.000 con notable precisión, y formuló los fundamentos teóricos de cualquier autómata de cálculo. Por entonces Babbage ya conocía los sistemas decimales de conteo, y estaba familiarizado con la descomposición de complejas operaciones matemáticas en secuencias sencillas.</p>
        </article>
        </section>
    <section>
        <h2>Maquina Analitica</h2>
        <article>
            <p>Después de esto, Babbage se volcó en el proyecto de diseñar una "máquina analítica" que fuese capaz de procesar cualquier secuencia de instrucciones aritméticas. Para esta realización contó con fondos del gobierno inglés y con la colaboración de la que está considerada como la primera programadora de la historia, <a href="/lovelace">Ada Lovelace</a>, hija del poeta Lord Byron.
                Aunque no consiguió su propósito, Charles Babbage sentó los principios básicos de las computadoras modernas, como el concepto de programa o instrucciones básicas (que se introducen en la máquina de manera independiente de los datos), el uso de la memoria para retener resultados y la unidad aritmética. La máquina de Babbage, construida exclusivamente con piezas mecánicas y multitud de ruedas dentadas, utilizaba las tarjetas perforadas para la introducción de datos y programas, e imprimía en papel los resultados con técnicas muy similares a las que se emplearon hasta mediados de los años 70.</p>
            <p>En 1878 le fue retirado el aval del comité de la Asociación Británica para el avance de la ciencia, recomendaron no construir la maquina analítica, por esto Babbage no tuvo acceso a fondos de parte del gobierno.
                Aunque los planos eran correctos, sin fondos y con la renuncia del artesano que construía las partes, la máquina fue imposible de construir.
                Su hijo Henry Babagge, en 1910 informa que una parte del dispositivo de cálculo y el equipo de impresión habían sido construidos y utilizados para calcular una lista de múltiplos de pi, esto solo era una pequeña parte de la máquina analítica que no podía ser programada ni disponía de memoria.
                En 1991 el museo de ciencias de Londres siguiendo los planos originales, con escasas modificaciones sobre los mismos, construye la maquina diferencial, en la siguiente década se construyó la impresora de la maquina diferencial.
                </p>
        </article>
    </section>
    <aside><img src="/img/babbage/maquinaanalitica.webp" alt="Maquina Analítica" height="400px"></aside>
    <section>
        <h2>¿Cuándo y en donde fallece?</h2>
        <article>
            <p>
                Babbage fallece el 18 de octubre de 1871, Marylebone (Reino Unido)
            </p>
        </article>
    </section>
    <section>
        <h2>Datos de color</h2 >
        <article>
            <li>Propuso el sistema de franqueo postal que utilizamos hoy en día. Hasta entonces el coste de enviar una carta dependía de la distancia que tenía que viajar; Babbage advirtió que el coste del trabajo requerido para calcular el precio de cada carta superaba el coste del franqueo de esta y propuso un único coste para cada carta con independencia del sitio del país al que era enviada.</li>
    <li>Fue el primero en señalar que la anchura del anillo de un árbol dependía de la meteorología que había hecho ese año, por lo que sería posible deducir climas pasados estudiando árboles antiguos.</li>
    <li>Inventó el apartavacas, un aparato que se sujetaba a la parte delantera de las locomotoras de vapor para que las vacas se apartasen de las vías del ferrocarril.</li>
    <li>Se interesó también por temas políticos y sociales e inició una campaña para deshacerse de los organilleros y músicos callejeros de Londres, aunque estos pasaron al contraataque y se organizaron en torno a su casa tocando lo más alto que podían.</li>
    <li>El cráter lunar Babbage lleva este nombre en su memoria.</li>
    <li>El asteroide (11341) Babbage también conmemora su nombre.</li>
        </article>
    </section>
    
    <aside><img src="/img/babbage/apartavacas.jpg" alt="Deflector de obstáculos (apartavacas)"></aside>
    
    
    </main>
    
    <footer>
        <section>
            <h3>En común</h3>
            <article><a href="/lovelace">Ada Lovelace</a></article>
        </section>
        <section>
            <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.youtube.com/watch?v=l-2y8VKcgdc">mashupHistory</a></li>
                <li><a href="https://www.biografiasyvidas.com/biografia/b/babbage.htm">Biografías y vidas</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Charles_Babbage">Wikipedia</a></li>
            </ol>
        </section>
        
    </footer>

</body>
</html>