<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>El padre de la Word Wide Web: Tim Berners-Lee</h1>
        </section>
<img class="img" src="/img/bernerslee/bernerslee.jpg" alt="Tim Berners-Lee" height="400px">
        <section>
            <h2>¿Quién es Tim Berners-Lee?</h2>
            <article>
                <p>Tim, hijo de los matemáticos Conway Berners-Lee y Mary Lee Woods, es un científico de la computación. Conocido como el padre de la WWW.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació Londres, el 8 de Junio de 1955.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>La versión previa a internet tenía un acceso muy restringido, Tim cambió eso a través de la World Wide Web, para que, como lo es ahora pueda ser una red accesible al público. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
            </article>
        </section>
            <h2>WWW</h2>
            <article>
                <p>En 1980 Berners-Lee comienza a trabajar como consultor en el CERN (Organización Europea para la Investigación Nuclear), ahí Tim tuvo la mejor idea de su vida. Científicos de universidades de todo el mundo, traían sus propios sistemas computacionales, creando un entrono muy heterogéneo que dificultaba la colaboración científica. La idea de tener un solo sistema de gestión de la información, accesible a todos los científicos del CERN fue lo que inspiró a Tim.</p>
                <p>El 12 de marzo de 1989, propuso un sistema que combinaba tres ideas:</p>
                <ul>
                    <li>Hipertext: el hiper texto, es un sistema de textos interconectados que se muestran en la pantalla de la computadora, a través de los hipervínculos el usuario navega de un texto a otro con solo clickear un enlace.</li>
                    <li>Transmission Control Protocol (TCP): protocolo de control de transmisión, es una suerte de sistema de transporte online, mediante una red de direcciones IP, el TCP garantiza que los datos lleguen de un punto a otro. Antes de la transferencia de datos se establece una conexión entre el cliente y el servidor.</li>
                    <li>Domain Name System (DNS): sistema de nombres de dominio. Cada computadora y servidor conectado a internet, tiene asignado un nombre de dominio, cada nombre de dominio tiene una dirección IP única.</li>
                </ul>
                <p>En combinación estos tres sistemas permitieron que los cibernautas, no solo visiten una página web, si no explorar todo un sistema de páginas web. El 6 de agosto de 1991, comenzó la revolución tecnológica, se publicó la primera web, que marco el nacimiento de la WWW.</p>
            </article>
        <section>
            <h2>Fundación World Wide Web</h2>
            <article>
                <p>Con el objetivo de que la WWW diera acceso universal a los documentos, sin que ningún país restrinja a sus ciudadanos el acceso a estos documentos, por eso surge la Fundación World Wide Web en 2009, junto con su esposa Rosemary Leith. El objetivo es hacer de internet un derecho básico y un bien público.</p>
            </article>
        </section>
        <aside><img src="/img/bernerslee/timbernerswife.jpg" alt="Tim Berners-Lee y su esposa, Rosemary Leith" height="400px"></aside>
        <section>
            <h2>Actualidad</h2>
            <article>
                <p>Tim se propuso reinventar la web, ante el mal uso que se le ha dado por parte de gobiernos o hackers.
                    Lucha por derechos como la neutralidad de la red, la privacidad y la apertura de la web.</p>
            </article>
        </section>
        <section>
            <h2>Datos de color</h2 >
                <article>
                    <li>Tim Berners-Lee, en 2021 en una subasta vendió el código fuente original de la WWW como NFT, por $5.4 millones de dólares.</li>
                    <li>Sus padres eran informáticos, trabajaron en el equipo que desarrolló el Ferranti Mark 1, la primera computadora para público general disponible en el mercado.</li>
                    <li>A Tim, de pequeño, le encantaba jugar con trenes, así aprendió de electrónica.</li>
                    <li>La reina Isabel II lo nombró caballero en 2004, por su contribución al desarrollo global de internet, por lo que es Sir Tim Berners-Lee.</li>                
                </article>
        </section>
        <aside><img src="/img/bernerslee/codigofuente.jpg" alt="Imagen del vídeo con el código fuente de la World Wide Web que se ha subastado por 5,4 millones de dólares." height="300px"></aside>
    </main>
    <footer>
        <section>
            <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.dw.com/es/tim-berners-lee-creador-de-la-world-wide-web/av-62017602">DW</a></li>
                <li><a href="https://www.youtube.com/watch?v=79jhGynhiYw">DevCode</a></li>
                <li><a href="https://www.youtube.com/watch?v=Eo517JTLpVU">Fundación Telefónica Movistar Argentina</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Wikipedia</a></li>
            </ol>
        </section>
    </footer>

</body>
</html>