<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>La criptología que ayudó a descifrar Enigma: Joan Clarke</h1>
        </section>
        <img class="img" src="/img/Joan Clarke/joanc1.jpg" alt="Joan Clarke" height="400px">
        <section>
            <h2>¿Quién es Joan Clarke?</h2>
            <article>
                <p>Fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.</p>
                <p>Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació el 24 de Junio de 1917, en West Norwood (Reino Unido).</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Fue una heroína durante la Segunda Guerra Mundial, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes.</p>
                <p>La británica trabajó codo a codo junto a <a href="/turing">Alan Turing</a> y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.</p>

                <p>Fue la única mujer en integrar este grupo ultra secreto que tuvo un rol fundamental durante ese período bélico. Sin su trabajo y el del resto de los especialistas, la guerra podría haber tenido otro desenlace.</p>
            </article>
        </section>
        <section>
            <h2>Enigma</h2>
            <article>
                <p>Las habilidades matemáticas de Clarke fueron descubiertas por primera vez por Gordon Welchman, en una clase de Geometría en Cambridge. Welchman fue uno de los cuatro mejores matemáticos reclutados en 1939 para supervisar las operaciones de decodificación en Bletchley Park. Después de darse cuenta de las habilidades matemáticas de Clarke, la reclutó para que se uniera a él en Bletchley Park y formara parte de la Government Code and Cypher School (GC&CS).</p>
                <p>La GC&CS comenzó en 1939 con un único propósito, romper el Código Enigma alemán. Enigma era una máquina que los alemanes inventaron para encriptar sus mensajes; creían firmemente que su máquina era irrompible. Clarke llegó por primera vez a Bletchley Park el 17 de junio de 1940. En primer lugar, fue colocada en un grupo sólo de mujeres llamado "Las niñas", que se dedicaba principalmente al trabajo rutinario de oficina. En ese momento, la criptología no era un trabajo para mujeres. Según Clarke, ella sólo conocía a otra criptologa que trabajaba en Bletchley Park.</p>
            </article>
        </section>
        <aside>
            <img src="/img/Joan Clarke/Enigma.jpg" alt="Una máquina electromecánica de cifrado rotativo; la versión mostrada es posiblemente la militar." height="400px">
        </aside>
        <section>
            <h2>Maquina Analitica</h2>
            <article>
                <p>Los mensajes cifrados de la marina eran mucho más difíciles de "romper" que el resto de los códigos alemanes.</p>
                <p>Estas comunicaciones a las que se dedicaban Clarke y sus colegas estaban a menudo relacionadas con los submarinos que perseguían a los barcos aliados encargados de transportar tropas y suministros desde Estados Unidos a Europa.</p>                 
                <p>La tarea de Clarke era romper el cifrado de estos en tiempo real, uno de los quehaceres con más presión de Bletchley.</p>
                <p>Así lo asegura Michael Smith, el autor de varios libros sobre el proyecto Enigma.</p>
                <p>Los mensajes que ella decodificaba resultaban casi inmediatamente en alguna acción militar, explica Smith.</p>
                <p>Y como consecuencia, los submarinos solían ser hundidos o obligados a circunnavegar, salvando así miles de vidas.</p>
                <p>Debido al secreto continuo entre los criptoanalistas, el alcance total de sus logros sigue siendo desconocido.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde fallece?</h2>
            <article>
                <p>Clarke fallece el 4 de septiembre de 1966, en Headington (Reino Unido)</p>
            </article>
        </section>
        <section>
            <h2>Datos de no tanto color</h2 >
                <article>
                    <li>Se le negó un título completo, ya que Cambridge sólo se lo otorgó a los hombres hasta 1948.</li>
                    <li>Se le impidió progresar debido a su género, y se le pagaba menos que a los hombres.</li>
                    <li>Forjó una gran amistad con Turing que duró toda la vida.
                        Incluso llegaron a comprometerse en 1941 pero al poco tiempo, luego de que Turing le confesara que tenía inclinaciones homosexuales, rompieron el vínculo como pareja, pero mantuvieron la amistad.</li>
                    </article>
        </section>
   <aside>
    <img src="/img/Joan Clarke/EuX2naRXUAUZwCx.jpg" alt="Joan Clarke y Alan Turing" height="400px">
    <img src="/img/Joan Clarke/joanc3.jpg" alt="Joan Clarke con sus colegas del Hut 8 en 1946.">
    <h4>Joan Clarke con sus colegas del Hut 8 en 1946.</h4>
    </aside>
    </main>
    
    <footer>
        <section>
            <h3>En común</h3>
            <article><a href="/turing">Alan Turing</a></article>
        </section>
        <section>
            <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.bbc.com/mundo/noticias/2014/11/141111_reino_unido_joan_clarke_mujer_enigma_lv">BBC</a></li>
                <li><a href="https://www.infobae.com/america/tecno/2018/12/18/la-historia-de-joan-clarke-la-unica-criptoanalista-que-ayudo-a-descifrar-el-codigo-secreto-de-los-nazis/">Infobae</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Joan_Clarke">Wikipedia</a></li>
            </ol>
        </section>
    </footer>

</body>
</html>