<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Margaret Hamilton y el Apolo 11</h1>
        </section>
        <img class="img" src="/img/Hamilton/00dd05d3d246752d6c96ab8eba85a98a.jpg" alt="Margaret Hamilton" height="400px">
        <section>
            <h2>¿Quien es Margaret Hamilton?</h2>
            <article>
                <p>Margaret es una científica computacional, matemática e ingeniera de Software estadounidense. Fue una pionera en el área de la programación.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació el 17 de Agosto de 1936, en Paoli (Estados Unidos).</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Desarrollo el software del Apolo 11, la misión del apolo 11 era la de aterrizar un aterrizaje lunar con tripulación y llegar la tierra. Una de las mujeres que evito que la misión apolo fuera un completo desastre fue Margaret Hamilton
                También trabajo en un proyecto militar, desarrollando un software para una computadora que buscaba aviones no amigos en el espacio aéreo y que pudieran ser una amenaza para el país.</p>
            </article>
        </section>
        <section>
            <h2>El Programa Apolo</h2>
            <article>
                <p>Gracias al éxito que tuvo el desarrollo del proyecto militar, Margaret pudo incorporarse al laboratorio Charles Stark Draper del Instituto Tecnológico de Massachusetts en 1963.</p>
                <p>En ese laboratorio se estaba trabajando el proyecto que cambiaría para siempre la vida de Hamilton: El programa Apolo.</p>
                <p>Margaret defendía la idea de diseñar programas a prueba de errores, pero la NASA se oponía a esto hasta que Jim Lovell borró todos los datos de navegación en durante la misión Apolo 8, ya que introdujo un comando equivocado.</p>
                    <p>Finalmente, Margaret, en 1965, paso a estar a cargo del equipo de desarrollo de software, el cual tenía por objetivo diseñar el software que haría funcionar el módulo de mando y el módulo lunar en la misión Apolo 11.</p>
                    <p>Permitió eliminar tareas de baja prioridad, y reestablecer las más importantes. Esta característica del software fue crucial en 1969, durante el alunizaje. En ese momento el ordenador del módulo lunar se sobrecargó con tareas que tenía que realizar, frente a un error que enviaba datos extras al ordenador, se sobrecargó el ordenador y automáticamente el software activó una alarma en la que decía que, debido a la sobrecarga, solo se encargaría de las tareas prioritarias. En este caso la prioridad era aterrizar. Es muy probable que sin este software, el Apolo 11 no hubiera logrado un aterrizaje exitoso sobre la luna.</p>
            </article>
        </section>
        <aside><img src="/img/Hamilton/d2e47dafd3534a1973f15e32156a504885e543b1.jpeg" alt="Margaret Hamilton, la ingeniera sin la cual la humanidad no hubiera llegado a la Luna" height="400px"></aside>
        <section>
            <h2>Otros Logros</h2>
            <article>
                <p>En 1986 crea Hamilton Technologies, una empresa dirigida a la predicción de errores de software.</p>
                    <p>También acuño el término "ingeniería de software", con la intención de que el trabajo que ella y sus colegas hacían fuera reconocido como un tipo de ingeniería y también como una disciplina.</p>
            </article>
        </section>
        <section>
            <h2>Actualidad</h2>
            <article>
                <p>Hoy en día Hamilton es consejera delegada de Hamilton Technologies, y continua trabajando en el desarrollo de nuevos lenguajes de programación.</p>
            </article>             
        </section>
        <aside><img src="/img/Hamilton/presidente.jpg" alt="Hamilton siendo premiada por el presidente de los Estados Unidos, Barack Obama." height="300px"></aside>
        <section>
            <h2>Datos de color</h2 >
                <article>
                    <li>Todo su trabajo fue reconocido el 22 de noviembre de 2016, ya que le fue otorgada la medalla presidencial de la libertad. Es el premio civil más alto en los Estados Unidos.</li>
                    <li>Cuando Margaret aceptó el empleo de programadora en el Instituto Tecnológico de Massachusetts, la programación estaba aún «en pañales», pocas personas sabían lo que hacían. Era como el lejano oeste; no había clases, se aprendía por cuenta propia durante el trabajo.</li>
                    <li>El trabajo de Margaret Hamilton en el proyecto Apolo, fue germen de algunos de los conceptos básicos que luego se han consolidado dentro de la ingeniería del software de sistemas informáticos críticos, como la tolerancia a fallos, el diseño optimizado de interfaces, las arquitecturas abiertas y el análisis y modelización de sistemas y procesos, entre otros.</li>
                    <li>Dentro de muchos galardones y premios que recibió, también algunos de sus «mayores galardones» llegaron en 2017, cuando fue la protagonista del cuento «Margaret and the Moon» y cuando LEGO la incluyó en el set de «Mujeres de la NASA». Un honor este último, solo al alcance de personajes tan populares como Batman y Superman.</li>                
                </article>
        </section>
        <aside><img src="/img/Hamilton/margaret-and-the-moon-lego (1).jpg" alt="Portada del cuento «Margaret and the Moon» y Set de LEGO «Mujeres de la NASA», dedicado a Margaret Hamilton (Fuente: Knopf Books for Young Readers y LEGO)." height="400px"></aside>       
    </main>
    
    <footer>
        <section>
            <h3>Menú</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.youtube.com/watch?v=mOGbxWTKtoQ">La ciencia detrás de</a></li>
                <li><a href="https://www.exevi.com/margaret-hamilton-la-ingeniera-sin-la-cual-la-humanidad-no-hubiera-llegado-a-la-luna/">Exevi</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)">Wikipedia</a></li>
            </ol>
        </section>
    </footer>
    

</body>
</html>