<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Amazing Grace, la madre de la programación informática</h1>
        </section>
        <img class="img" src="/img/Hopper/people-grace-hopper-mosaic-charis-tsevis.jpg" alt="Grace Hopper" height="400px">
        <section>
            <h2>¿Quién es Grace Hopper?</h2>
            <article>
                <p>Fue una científica de la computación y militar estadounidense con grado de contraalmirante.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació el 9 de diciembre de 1906, en Nueva York(Estados Unidos).</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Fue la creadora del primer lenguaje de programación en inglés.</p>
            </article>
        </section>
        <section>
            <h2>Una profesión marcada por la guerra</h2>
            <article>
                <p>La Segunda Guerra Mundial marcó el camino profesional de Hopper, como el de muchos otros científicos. De esta manera, decidió servir en el ejército naval pero no contó con todas las facilidades para ingresar en él: tenía 34 años y la consideraban demasiado mayor para alistarse, pero como sus conocimientos matemáticos eran demasiado valiosos para la guerra, consiguió un puesto.</p>
                <p>Su espacio de trabajo fue el laboratorio Cruft de la Universidad de Harvard, donde se convirtió en la primera programadora en utilizar el Mark I, el primer ordenador digital secuenciado a gran escala del mundo. Se utilizó para calcular los ángulos de puntería de las armas navales en diferentes condiciones climáticas. El conocimiento de Hopper era tan elevado que en ocasiones le pidieron que supervisara el sistema las veinticuatro horas del día. Pasaron innumerables horas transcribiendo e ingresando códigos también para los ordenadores que lo sucedieron (Mark II y III). Por todo este trabajo pionero recibió el Premio de Desarrollo de la Artillería Naval en 1946.</p>
            </article>
        </section>
        <aside><img src="/img/Hopper/Grace_Hopper_and_UNIVAC.jpg" alt="Grace Hopper en la estación de control de la UNIVAC I (hacia 1960)" height="400px"></aside>
        <section>
            <h2>FLOW-MATIC</h2>
            <article>
                <p>Fue el primer lenguaje de programación que expresó operaciones utilizando declaraciones similares al inglés. También fue el primer sistema en separar claramente la descripción de los datos de las operaciones en ellos. Su lenguaje de definición de datos , a diferencia de sus declaraciones ejecutables, no era como el inglés; más bien, las estructuras de datos se definieron llenando formularios preimpresos.. Fue desarrollado para el UNIVAC I en Remington Rand, por el comité que había compilado el diseño del lenguaje Compran. Robert William Bemer (8 de febrero de 1920 - 22 de junio de 2004) junto Grace Murray Hopper (1906 – 1992) Establecieron el concepto de lenguajes de programación basados en palabras del lenguaje natural; también desarrollaron los primeros compiladores de la historia, el A-0 (Math Matic) y el B-0, y en 1960 presentó su primera versión del lenguaje COBOL (Common Business-Oriented Language).</p>
                <p>Hopper descubrió que los clientes de procesamiento de datos comerciales se sentían incómodos con la notación matemática:</p>
                <p>A finales de 1953, propuso que los problemas de procesamiento de datos deberían expresarse utilizando palabras clave en inglés, pero la dirección de Rand consideró la idea inviable. A principios de 1955, ella y todo su equipo escribieron una especificación para dicho lenguaje de programación e implementaron un prototipo. El compilador FLOW-MATIC se puso a disposición del público a principios de 1958 y se completó sustancialmente en 1959.</p>
            </article>
        </section>
        <aside><img src="/img/Hopper/cobol.jpg" alt="El lenguaje COBOL, aún en la actualidad es utilizado." height="400px"></aside>
        <section>
            <h2>COBOL</h2>
            <article>
                <p>El lenguaje COBOL (acrónimo de COmmon Business-Oriented Language, Lenguaje Común Orientado a Negocios) fue creado en el año 1959 con el objetivo de crear un lenguaje de programación universal que pudiera ser usado en cualquier ordenador y que estuviera orientado principalmente a los negocios, es decir, a la llamada informática de gestión.</p>
                <p>El COBOL se sigue usando, solo en operaciones comerciales. Es uno de los que más se usa en el mundo de los negocios, por ejemplo en los sistemas de los bancos. Después del COBOL se siguieron desarrollando otros lenguajes, para otros usos como los videojuegos, aplicaciones, navegadores, etc.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde fallece?</h2>
            <article>
                <p>Hopper fallece el 1 de enero de 1992, en Virginia (Estados Unidos).</p>
            </article>
        </section>
        <section>
            <h2>Datos de color</h2>
            <article>
                <li>Cada 9 de diciembre es el día de la informática, en honor a su nacimiento.</li>
                <li>De pequeña le apasionaban las matemáticas, y sentía gran curiosidad por cualquier tipo de aparato. Cuando tenia 7 años desarmo todos los relojes de su casa para entender su funcionamiento.</li>
                <li>Una vez, cuando Grace se encontraba trabajando en la computadora Mark I, una polilla se metió en la computadora, produciendo una falla en el sistema. A partir de ese día la palabra "bug", que significa bicho en inglés, se utiliza para referirse a errores de programación.</li>
                <li>Sus desarrollos permitieron que se dejaran de utilizar tarjetas, y que con el tiempo las computadoras fueran más pequeñas.</li>
            </article>
        </section>
        <aside><img src="/img/Hopper/bug.jpg" alt="Bug encontrado en la Mark II." height="400px"></aside>     
    </main>

    <footer>
        <section>
            <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.youtube.com/watch?v=UA4jLQUxND8">Fundación Telefónica Movistar Argentina</a></li>
                <li><a href="https://mujeresconciencia.com/2020/01/02/la-matematica-grace-hopper-y-el-revuelo-de-la-polilla/">Mujeres Con Ciencia</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper">Wikipedia</a></li>
            </ol>
        </section>
       </footer>
    

</body>
</html>