<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los heroes de la programación</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Grandes heroes de la programación</h1>
            <img class="img" src="img/tecno.jpg" alt="Vector de touch screen" height="400px">
            <article>  
                <p><h3>La tecnología a avanzado muchísimo en este siglo, pero no significa que no sea una historia que se viene hilvanando hace muchos años.
                    Grandes ideas, papeles fundamentales en la historia, estos son algunos de los engranajes claves, de lo que hoy conocemos en el mundo de la tecnología, si ninguno de ellos, lo que hoy conocemos sería igual.</h3></p>
            </article>
        </section>
        <section>
            <article>
                <h3>Fueron necesarias grandes mentes, que fueron más hayá de lo conocido. Innovadores, revolucionarios de su época. Trasaron el camino de todo lo que hoy conocemos en el mundo de la computación, la programación y otras ciencias.</h3>
            </article>
        </section>
        <section>
            <article>
                <h2>Acá te presentamos a algunos de ellos:</h2>
            </article>
        </section>
        
        <ul>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul></main>
    

    
</body>
</html>
<footer class="footer">
    <h1>Trabajo Práctico DH Heroes - Micaela Loureiro - Comision 17 - Fundacion Formar</h1>
</footer>