<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/turing">Alan Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Ada Lovelace, la primera programadora</h1>
        </section>
        <img class="img" src="/img/Lovelace/7f89a6290ebb8368e3ddda03151730bc.jpg" alt="Ada Lovelace" height="400px">
        <section>
            <h2>¿Quién es Ada Lovelace?</h2>
            <article>
                <p>Registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació el 10 de diciembre de 1815, en Londres (Reino Unido.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de <a href="/babbage">Charles Babbage</a>, la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
            </article>
        </section>
        <section>
            <h2>El encuentro que lo cambiaria todo</h2>
            <article>
                <p>A los 17 años, en una conferencia científica de 1833, Mary Somerville le presentó a Charles Babbage, Charles quedó sorprendido con los conocimientos e inteligencia de la joven. Empezaron a comunicarse a través de cartas charlando sobre temas relacionados a las matemáticas. Babbage se encontraba construyendo la máquina diferencial, proyecto que interesó grandemente a Ada.</p>
                <p>En 1834, Babbage tenía planes para la construcción de un nuevo tipo de máquina de cálculo, una maquina analítica de carácter general, que se convertiría en el antecedente del ordenador moderno.</p>
                <p>Era 1942 Ada se encargó de traducir un artículo sobre la máquina analítica, del matemático Louis Menabrea. Pero ella no solo tradujo el texto original, sino que también añadió sus propios pensamientos e ideas, que terminaron siendo tres veces más largas que el articulo original. Esas notas son la fuente de su fama como la primera programadora de la historia.</p>
                <p>Ada describió como se podrían crear códigos para que el dispositivo manejara letras y símbolos, junto con los números. También describió conceptos como el bucle y subrutina (usados en la programación actual), y llegó a escribir un programa que permitía calcular los valores de Bernoulli y cómo realizar operaciones trigonométricas que hacían el uso de variables con la máquina.</p>
                <p>Lovelace escribió detalladamente cuales debían ser las instrucciones para computar una secuencia de números complejos, esas instrucciones son lo que hoy se conoce como un algoritmo, y la descripción de Ada se convirtió en el primer programa de computación publicado.</p>
                <p>Además detalló el uso de las tarjetas perforadas, su trabajo fue publicado en 1943 en una revista científica inglesa, ella firmo con sus iniciales, para evitar la censura de la época. Pero su labor quedó relegado a un segundo plano hasta años más tarde.</p>
                <p>Todo esto hace que se la considere como la primera programadora.</p>
            </article>
        </section>
        <aside><img src="/img/Lovelace/escrito.jpg" alt="Este es el que algunos investigadores consideran el primer programa informático de la historia: el descrito por Ada Lovelace en el apéndice G de sus Notas." height="400px"></aside>
        <section>
            <h2>Sin límites</h2>
            <article>
                <p>A pesar de que Babbage consideraba la maquina solo para cálculos de números, pero Ada no se limitó a esto, si no que la vio el potencial de la maquina analítica como una máquina de propósito general, es decir capaz de manipular todo tipo de información, como símbolos o notas musicales. Y conseguir resultados, sin intervención humana, tal como lo hacen las computadoras actuales.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde fallece?</h2>
            <article>
                <p>Lovelace fallece el 27 de noviembre de 1852, en Londres (Reino Unido), a sus tan solo 36 años.</p>
            </article>
        </section>
        <section>
            <h2>Datos de color</h2 >
                <article>
                    <li>Tras una rara enfermedad, estuvo mucho tiempo en la cama, lejos de desanimarse, le dio rienda suelta a la imaginación, ilusionada con la idea de volar estaba decidida a inventar una máquina que le permitiera moverse por el aire. Paso años estudiando la anatomía de las aves y creado bocetos para su proyecto.</li>
                    <li>En 1979, en el departamento de defensa de los Estados Unidos, reconocieron los aportes de la joven creando un lenguaje de programación en su honor, llamado Ada</li>
                    <li>Lamentablemente, a pesar de sus aportes revolucionarios, Ada fue invisibilizada por más de 100 años, se le asigno el rol de mera transcriptora de Babbage, hoy se la considera una visionaria de la era en la computación.</li>
                    <li>Hoy se la homenajea el segundo martes de octubre, desde el 2009, se celebra el día de Ada Lovelace.  Celebrando logros de las mujeres en ciencia, matemática y tecnología; con el objetivo de inspirar a más mujeres en estas carreras.</li>                
                </article>
        </section>
        <aside><img src="/img/Lovelace/Feliz-Dia-de-Ada-Lovelace.jpg" alt="Los segundos martes de octubre se festeja el día de Ada Lovelace." height="400px"></aside>
    </main>
    
    <footer>
        <section>
            <h3>En común</h3>
            <article><a href="/babbage">Charles Babbage</a></article>
        </section>
        <section>
            <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </section>
        <section>
            <h3>Referencias</h3>
            <ol>
                <li><a href="https://www.youtube.com/watch?v=bYCDVwyuVt4">Tik Tak Draw</a></li>
                <li><a href="https://www.youtube.com/watch?v=iadg5o_1sbs">Ticmas Educación</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Ada_Lovelace">Wikipedia</a></li>
            </ol>
        </section>
    </footer>
</body>
</html>