<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="li">
                    <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="/berners-lee">Tim Berners-Lee</a>
                    <a href="/clarke">Joan Clarke</a>
                    <a href="/hamilton">Margaret Hamilton</a>
                    <a href="/hopper">Grace Hopper</a>
                    <a href="/lovelace">Ada Lovelace</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Alan Turing</h1>
        </section>
        <img class="img" src="/img/Turing/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="Alan Turing" height="400px">
        <section>
            <h2>¿Quién es Alan Turing?</h2>
            <article>
                <p>Fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde nació?</h2>
            <article>
                <p>Nació el 23 de junio de 1912, en Maida Vale(Reino Unido).</p>
            </article>
        </section>
        <section>
            <h2>¿Cuál fue su aporte a la tecnología?</h2>
            <article>
                <p>Podría decirse que fue el creador de la computación e ideólogo de la inteligencia artificial.</p>
                <p>Fue la primera persona en decir que las maquinas podían ser inteligentes, y propuso un test para saber si las máquinas pensaban como los humanos.</p>
            </article>
        </section>
        <section>
            <h2>Test o prueba de Turing</h2>
            <article>
                <p>El test puede medir la inteligencia de las máquinas a través de comparar sus respuestas con las de los humanos. Una persona, que hace de evaluador, hace una serie de preguntas, tanto a una maquina como a un humano, sin saber cuál es cuál. Si el evaluador no puede determinar cuál de los dos es humano.</p>
            </article>
        </section>
        <section>
            <h2>Máquina de Turing</h2>
            <article>
                <p>Sentó las bases de la computadora digital, en 1936 ideo un modelo teórico, que es el que hoy se conoce como la máquina de Turing. Un método capaz de solucionar problemas, siempre y cuando tengan una solución posible mediante algoritmos. Son instrucciones escritas en números, en 0 y 1, ordenados en una cantidad de pasos que no pueden ser infinitos.</p>
                    <p>Turing se estaba imaginando lo que hoy es una computadora, antes de que existiera.</p>
            </article>
        </section>
        <aside><img src="/img/Turing/bombe00.jpg" alt="Máquina Bombe" height="400px"></aside>
        <section>
            <h2>Máquina Bombe</h2>
            <article>
                <p>Turing diseñó una máquina para descifrar las comunicaciones del ejército alemán, durante la segunda guerra mundial, los mensajes se enviaban a través de código encriptado por la máquina Enigma. Con el invento de Turing, lograron interceptar las comunicaciones, descifrarlas y lograron acortar la duración de la guerra. Esta máquina, llamada Bombe, fue la precursora de las computadoras electrónicas digitales.</p>
            </article>
        </section>
        <section>
            <h2>¿Cuándo y en dónde falleció?</h2>
            <article>
                <p>Falleció el 7 de junio de 1954, en Wilmslow (Reino Unido).</p>
            </article>
        </section>
        <section>
            <h2>Datos de color</h2 >
                <article>
                    <li>En 1952 fue juzgado y condeado por el gobierno británico, debido a su homosexualidad. Recién en 2013 la corona británica retiró los cargos en su contra. Luego de una gran depresión, murió envenenado al morder una manzana con cianuro. Los forenses establecieron que fue un suicidio</li>
                    <li>En su honor el empresario estadounidense Steve Jobs, retomó el motivo de la manzana mordida como logo para su famosa compañía de tecnología</li>
                    <li>Su vida llegó a la pantalla en 4 oportunidades: Descifrando el código, Enigma, Code Breacker y El Código Enigma. Las mismas se realizaron entre 1996 y 2014.</li>
                    <li>En 2014 por primera vez una computadora supero el test de Turing. Fue un programa que logró convencer a más del 30% de los jueces de que era genuinamente humano.</li>
                    <li>A Turing de pequeño, le gustaban los números, los rompecabezas y la lectura. Aprendió a leer por si solo en tan solo tres semanas.</li>            
                </article>
        </section>
        <aside><img src="/img/Turing/elcodigoenigma.jpg" alt="Película El Código Enigma" height="400px"></aside>
        </main>

    <footer>
        <section>
        <h3>En común</h3>
        <article>
            <p><a href="/clarke">Joan Clarke</a></p>
        </article>
        
    </section>
    <section>
        <h3>Menú</h3>
            <ul>
                <a href="/"><img src="/img/Black & Blue Minimalist Circle Photographer Initials Logo.png" alt="logo" height="150px"></a>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
            </ul>
    </section>
    <section>
        <h3>Referencias</h3>
        <ol>
            <li><a href="https://www.youtube.com/watch?v=Y4BokUDepDg">Daniel Carreón</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Alan_Turing">Wikipedia</a></li>
        </ol>
    </section>    
    </footer>
    
</body>
</html>